*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    outline: none;
    border: none;
    direction: ltr;    
}

html{
    background-color: #faf5f5;
    font-size: 16px;
}

header{
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 10px;
    box-shadow: 0 10px 10px lightgray;
}

h3{
    font-size: x-large;
    text-shadow: 0 10px 15px rgb(131, 77, 77);
}

ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

li{
    margin: 10px;
}

li a{
    margin-left: 15px;
    font-size: 0.9rem;
    color: rgb(91, 91, 91);
    display: flex;
    align-items: center;
}

.dropdown-menu{
    display: block;
    opacity: 1;
    visibility: hidden;
    transition: 0.4s;
    background-color: rgb(234, 231, 231);
    box-shadow: 0 5px 10px lightgray;
    position: absolute;
    z-index: 1;
    width: 200px;
}

.dd-item{
    padding: 12px 15px;
}

button{
    background-color: rgb(247, 88, 88);
    padding: 0 10px;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.4s;    
}

button i{
    color: white;
    font-size: 1.1rem;
}

button:hover{
    opacity: 0.5;
    font-size: 1.2rem;
}

li:hover >a{
    color: #130f0f;
    
}

.item:hover .dropdown-menu{
    opacity: 1;
    visibility: visible;  
}

.dd-item:hover{
    background-color: rgb(214, 212, 212);
}

i{
    color: rgb(247, 88, 88);
    padding: 10px;
    font-size: 1.2rem;
}

.open-menu , .close-menu{
    display: block;
    cursor: pointer;
    transition: 0.4s;
}

.close-menu{
    position: absolute;
    top: 20px;
    right: 20px;
}

main{
    width: 80%;
    margin: 30px auto;
}

.sec-introduce , .sec-about{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 90px;
}

.sec-content{
    height: 100px;
    width: 90%;
    margin: 10px;
    border-radius: 25px;
    background-size: cover;
}

.low-opacity-black{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sec-content p{
    color: white;
    text-align: center;
    font-size: 1.2rem;
    margin: 5px 10px;
}

strong{
    color: blue;
    font-size: larger;
}

.desc{
    margin: 15px;
    line-height: 200%;
    text-align: center;
    font-size: x-large;
    color: darkblue;
}

.about-items{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap;
}

.about-img{
    width: 56px;
    height: 56px;
    margin: auto;
    display: block;
}

.about-item{
    flex: 1 1 100px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 5px 10px lightgray;
    border-radius: 20px;
}

.bg-red{
    background-color: rgb(244, 152, 152);
}

.bg-white{
    background-color: rgb(239, 230, 230);
}

.sec-product{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 90px auto;
}

.products{
    display: flex;
    flex-wrap: wrap;
}

.products-item{
    flex: 1 1 200px;
    margin: 15px;
    border-radius: 20px;
    box-shadow: 0 0 10px lightgray;
    transition: 0.4s;
}

.products-item:hover{
    transform: scale(1.15, 1.15);
}

.products-item img{
    object-fit: cover;
    width: 100%;
    height: 160px;
    border-radius: 20px 20px 0 0;
}

.data{
    padding: 20px;
    background-color: rgb(216, 227, 227);
    border-radius: 0 0 20px 20px;
}

.products-item titel{
    font-size: 1.5rem;
}

.products-item desc{
    text-align: justify;
    line-height: 150%;
    margin: 25px 0;
}

.cost{
    color: blue;
    font-size: 1.1rem;
}

.products-item button{
    padding: 5px 15px;
}

.cta{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer{
    background-color: #f8ebeb;
    box-shadow: 0 0 30px lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

footer img{
    width: 40px;
    margin: 5px;
    filter : saturate(0);
    transition: 0.5s;
 }

 footer img:hover{
    filter: saturate(1);
 }

 @media (min-width:750px){
    .mainMenu{
        display: flex;
        height: 0;
        flex-direction: row;
        position: relative;
        background-color: transparent;        
    }
    .close-menu, .open-menu{
        display: none;
    }
    .sec-introduce{
        flex-direction: row;
    }

    main{
        max-width: 70%;
    }
 }